<% if (typeof user !== "undefined") { %>
  <% var liked = (articles[i].likedBy.includes(user.username)) ? "liked" : ""; %>
<% } %>
<div class="article article-preview">
  <h5 id="article-info"><i>Written by </i>
    <a class="article-preview-link" href="/<%= articles[i].author.replace(/ /g,'_'); %>">
      <b><%= articles[i].author.toUpperCase(); %></b>
    </a> | <i><%= articles[i].date %></i> | <%= articles[i].likes %> 
    <span onclick='<%= (typeof user !== "undefined") ? "submitLike('"+ articles[i]._id +"');" : "null" %>' >
      <i class="fa fa-diamond <%= liked %>" aria-hidden="true"></i>
    </span>
    <a id="comment-icon" href="/<%= articles[i].author.replace(/ /g,'_') %>/<%= articles[i].title.replace(/ /g,'_'); %>#comments-body">
       <%= articles[i].comments.length %> <span><i class="fa fa-comment-o" aria-hidden="true"></i></span>
    </a>
  </h5>
  <div class="title-header">
    <a class="article-preview-link" href="/<%= articles[i].author.replace(/ /g,'_') %>/<%= articles[i].title.replace(/ /g,'_'); %>">
      <h2 class="title"><%= articles[i].title %></h2>
      <h3 class="heading"><%= articles[i].heading %></h3>
      <img class="article-image article-image-preview" src="<%= articles[i].image %>" />
    </a>
  </div>
</div>
