<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 article">

          <% if (typeof user !== "undefined") { %>
            <% var liked = (article.likedBy.includes(user.username)) ? "liked" : ""; %>
          <% } %>

          <h1 id="title"><%= article.title %></h1>          
          <h5 id="article-info"><i>Written by </i>
            <a href="/<%= article.author.replace(/ /g,'_'); %>"><b><%= article.author.toUpperCase(); %></b></a> | 
            <i><%= article.date %></i> | <%= articles[i].likes %> &nbsp;
            <span onclick='<%= (typeof user !== "undefined") ? "submitLike('"+ article._id +"');" : "null" %>' >
              <i class="fa fa-diamond <%= liked %>" aria-hidden="true"></i>
            </span></h5>
          <img class="article-image" id="article-image-full" src="<%= article.image %>" />
          <div id="article-text">
            <!-- article here -->
          </div>       
          <h5 id="log-end">/* end article */</h5>
          <hr>          
          
          <h4 id="comments-title">Comments</h4>
            
          <div class="row new-comment">
            <div class="col-md-6">
              <% if (typeof user !== "undefined") { %>
              <form method="post" action="/comment/<%= article._id %>">
                <textarea name="newComment" id="comments-new" class="form-control"
                 placeholder="Write a comment" rows="6"></textarea>
                <input type="submit" class="btn btn-success" value="Submit">
              </form>
              <% } else { %>
              <textarea id="comments-new" class="form-control disabled-comment" placeholder="Log in to write a comment" rows="6" disabled></textarea>
              <% } %>
            </div>
            <div class="col-md-6">
              <div id="comments-preview"></div>
            </div>
          </div>
          
          <div class="comments-body">
            <!-- comments here -->
          </div>

        </div>
      </div>
    </div>

    <script>
    $(document).ready(function(){

      $("#article-text").html(
        marked( <%- JSON.stringify({content: article.text}) %>.content )
      )

      var comments = <%- JSON.stringify(article.comments) %>;
      for(var i = comments.length - 1; i >= 0; i--){

        var $comment = $("<div>", {"class": "single-comment"});

        $(".comments-body").append($comment);
        $comment.append(
          $('<h5>')
          .html("<b>"+comments[i].author+"</b><br><i>"+comments[i].date+"</i>")
        ).append(
          $('<div>')
          .addClass("comment-text")
          .html( marked(comments[i].text) )
        )
      }

    })

    </script>

  </body>
</html>