<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 article">

          <% if (typeof user !== "undefined") { %>
            <% var liked = (article.likedBy.includes(user.username)) ? "liked" : ""; %>
          <% } %>

          <div class="title-header">
            <h1 class="title"><%= article.title %></h1>
            <h2 class="header"><%= article.header %></h2>
          </div>

          <h5 id="article-info"><i>Written by </i>
            <a href="/<%= article.author.replace(/ /g,'_'); %>"><b><%= article.author.toUpperCase(); %></b></a> | 
            <i><%= article.date %></i> | <%= article.likes %> 
            <span onclick='<%= (typeof user !== "undefined") ? "submitLike('"+ article._id +"');" : "null" %>' >
              <i class="fa fa-diamond <%= liked %>" aria-hidden="true"></i>
            </span>
            <a id="comment-icon" href="#comments-body">
              <%= article.comments.length %> <span><i class="fa fa-comment-o" aria-hidden="true"></i></span>
            </a>
            </h5>
          <img class="article-image" id="article-image-full" src="<%= article.image %>" />

          <div id="article-text">
            <!-- article here -->
          </div>
          
          <!-- update article button and modal -->
          <% if (typeof user !== "undefined" && user.username === article.author) { %>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#updateArticle">Modify article</a>

            <div id="updateArticle" class="modal fade" role="dialog" tabindex="-1">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Update Article</h4>
                    </div>
                    <div class="modal-body row">

                    <div class="col col-md-6">
                      <form method="post" action="/update/<%= article._id %>">
                        <input id="newArticleHeading" class="form-control" name="heading" type="text" value="<%= article.heading %>" />
                        <input class="form-control" name="image" type="url" value="<%= article.image %>" />
                        <textarea id="newArticleTextArea" class="form-control" rows="20" type="text" name="text"><%= article.text %></textarea>
                        <input type="submit" class="btn btn-success" value="Submit">
                      </form>
                    </div>

                    <div class="col col-md-6" id="preview">
                        
                    </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
              </div>
            </div>            

          <% } %>
          <!-- end update modal -->

          <div id="likes-comments">
            <h5><span onclick='<%= (typeof user !== "undefined") ? "submitLike('"+ article._id +"');" : "null" %>' >
              <i class="fa fa-diamond fa-lg <%= liked %>" aria-hidden="true"></i>
            </span>&nbsp; <%= article.likes %>  
            <a id="comment-icon" href="#comments-body">
              <i class="fa fa-comment-o fa-lg" aria-hidden="true"></i>&nbsp; <%= article.comments.length %>
            </a></h5>
          </div>

          <h5 id="log-end">/* end article */</h5>
          <hr>  
          
          <h4 id="comments-title">Comments</h4>
            
          <div class="row new-comment">
            <div class="col-md-6">
              <% if (typeof user !== "undefined") { %>
              <form method="post" action="/comment/<%= article._id %>">
                <textarea name="newComment" id="comments-new" class="form-control"
                 placeholder="Write a comment" rows="6"></textarea>
                <input type="submit" class="btn btn-success" value="Submit">
              </form>
              <% } else { %>
              <textarea id="comments-new" class="form-control disabled-comment" placeholder="Log in to write a comment" rows="6" disabled></textarea>
              <% } %>
            </div>
            <div class="col-md-6">
              <div id="comments-preview"></div>
            </div>
          </div>
          
          <div id="comments-body">
            <!-- comments here -->
          </div>

        </div>
      </div>
    </div>

    <script>
    $(document).ready(function(){

      $("#article-text").html(
        marked( <%- JSON.stringify({content: article.text}) %>.content )
      )

      var comments = <%- JSON.stringify(article.comments) %>;
      for(var i = comments.length - 1; i >= 0; i--){

        var $comment = $("<div>", {"class": "single-comment"});

        $("#comments-body").append($comment);
        $comment.append(
          $('<h5>')
          .html("<b>"+comments[i].author+"</b><br><i>"+comments[i].date+"</i>")
        ).append(
          $('<div>')
          .addClass("comment-text")
          .html( marked(comments[i].text) )
        )
      }

    })

    </script>

  </body>
</html>