<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 article">

          <h1 id="title"><%= article.title %></h1>          
          <h5 id="article-info"><i>Written by </i>
            <a href="/<%= article.author.replace(/ /g,'_'); %>"><b><%= article.author.toUpperCase(); %></b></a> | 
            <i><%= article.date %></i></h5>
          <img class="article-image" id="article-image-full" src="<%= article.image %>" />
          <div id="article-text"></div>       
          <h5 id="log-end">/* end article */</h5>
          <hr>          
          
          <h4 id="comments-title">Comments</h4>
            
          <div class="row new-comment">
            <div class="col-md-6">
              <% if (typeof user !== "undefined") { %>
              <form method="post" action="/comment/<%= article._id %>">
                <textarea name="newComment" id="comments-new" class="form-control"
                 placeholder="Write a comment" rows="6"></textarea>
                <input type="submit" class="btn btn-success" value="Submit">
              </form>
              <% } else { %>
              <textarea id="comments-new" class="form-control disabled-comment" placeholder="Log in to write a comment" rows="6" disabled></textarea>
              <% } %>
            </div>
            <div class="col-md-6">
              <div id="comments-preview"></div>
            </div>
          </div>

          <% for(var i = article.comments.length -1; i >= 0; i--) { %>
          <div class="comments-body">
            <div class="single-comment">
              <h5><b><%= article.comments[i].author %></b><br>
              <i><%= article.comments[i].date %></i></h5>
              <div class="comment-body"><%- JSON.stringify(article.comments[i].text) %></div>
            </div>
          </div>
          <% } %>

        </div>
      </div>
    </div>

    <script>
    $(document).ready(function(){

      $("#article-text").html(
        marked( <%- JSON.stringify({content: article.text}) %>.content )
      )

      /*$(".comment-body").html(
        marked( $(this).text() )
      )*/

    })

    </script>

  </body>
</html>