<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 article">

          <h1 id="title"><%= article.title %></h1>          
          <h5 id="article-info"><i>Written by </i>
            <a href="/<%= article.author.replace(/ /g,'_'); %>"><b><%= article.author.toUpperCase(); %></b></a> | 
            <i><%= article.date %></i></h5>
          <img class="article-image" id="article-image-full" src="<%= article.image %>" />
          <div id="article-text"></div>       
          <h5 id="log-end">/* end article */</h5>
          <hr>
          
          <h4 id="comments-title">Comments</h4>

          <textarea placeholder="Write a comment" rows="6"></textarea>

          <% for(var i = article.comments.length -1; i >= 0; i--) { %>
          <div class="comments-body">
            <div class="single-comment">
              <h5><%= article.comments[i].author %><br>
              <%= article.comments[i].date %></h5>
              <%= article.comments[i] %>
            </div>
          </div>
          <% } %>

        </div>
      </div>
    </div>

    <script>
    $(document).ready(function(){

      $("#article-text").html(
        marked( <%- JSON.stringify({content: article.text}) %>.content )
      )

    })

    </script>

  </body>
</html>