<!DOCTYPE html>
<html lang="en">
  <head>
    
	<% include ./partials/head %>

  </head>

  <body>

    <% include ./partials/nav %>

    <div class="container">
            
    <p>
    Username: <%= author.username %><br/>
    <% if (author.email) { %>
    Email: <%= author.email %><br/>
    <% } %>
    </p>
    <img src="<%= author.picture %>" />
      
      <div class="row">
        <div class="col-md-8">

          <% for(var i = articles.length-1; i >= 0; i--) { %>
          <a id="article_preview" href="/<%= articles[i].author.replace(/ /g,'_') %>/<%= articles[i].title.replace(/ /g,'_'); %>">
            <h1 id="title"><%= articles[i].title %></h1>        
          </a>
          <h5 id="article-info"><i>Written by </i>
          <a href="/<%= articles[i].author.replace(/ /g,'_'); %>"><b><%= articles[i].author.toUpperCase(); %></b></a> | 
            <i><%= articles[i].date %></i></h5>
          <img class="article-image article-image-preview" src="<%= articles[i].image %>" />
        <% } %>

        </div>
      </div>

    </body>
